.Footer{

    background: var(--Dark);
    color: var(--white);
    padding: 2em 0;
    text-align: center;

    svg{
        display: block;
        margin: auto;
        margin-bottom: 2em;
    }

    &__social{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(5, 25px);
        grid-column-gap: 1em;
        margin: 2.5em 0;
    }

    &__link{
        color: var(--Blue);
        display: block;
        text-decoration: none;
        margin-bottom: 2em;
    }

    &__copyright{
        color: var(--Blue);
        margin-top: 2em;
    }
}